<ul id="navigation">
    <li><a href="/home/main">홈</a></li>
    <li><a href="/home/profile">프로필</a></li>
    <li><a href="/home/diary">다이어리</a></li>
    <li><a href="/home/board">게시판</a></li>
    <li><a href="/home/photo">사진첩</a></li>
    <li><a href="/home/guest_book">방명록</a></li>
</ul>