<div id="left1" class="box1">
    <div id="left2" class="box2">
        <div id="today">
            TODAY <span style="color:#EE5D1A; font-size:13px;">9999</span> | TOTAL
            <span style="font-size:13px;">9999</span>
        </div>

        <div id="left3" class="box3">
            <div id="todayIs">
                TODAY IS...
            </div>
            <div id="characterbox">
                <img id="character" src="/images/character2.jpg" alt="character">
            </div>

        </div>
        <!-- left3 -->
    </div>
    <!-- left2 -->
</div>
<!-- left1 -->